includes:
	- phpstan-baseline.neon

parameters:
	symfony:
		container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
	level: max
	paths:
		- devtools
		- src
	fileExtensions:
		# Standard php files and .dist config files
		- php
		- dist
