parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method toCommand\\(\\) on resource\\.$#"
			count: 1
			path: src/Core/Infrastructure/ApiPlatform/DataPersister/CommandBusPersister.php

		-
			message: "#^Method App\\\\Core\\\\Infrastructure\\\\ApiPlatform\\\\DataPersister\\\\CommandBusPersister\\:\\:persist\\(\\) should return object\\|void but returns resource\\.$#"
			count: 1
			path: src/Core/Infrastructure/ApiPlatform/DataPersister/CommandBusPersister.php

