parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Core\\\\Infrastructure\\\\ApiPlatform\\\\DataPersister\\\\CommandBusPersister\\:\\:supports\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Core/Infrastructure/ApiPlatform/DataPersister/CommandBusPersister.php

		-
			message: "#^Method App\\\\Core\\\\Infrastructure\\\\ApiPlatform\\\\DataPersister\\\\CommandBusPersister\\:\\:persist\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Core/Infrastructure/ApiPlatform/DataPersister/CommandBusPersister.php

		-
			message: "#^Method App\\\\Core\\\\Infrastructure\\\\ApiPlatform\\\\DataPersister\\\\CommandBusPersister\\:\\:remove\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Core/Infrastructure/ApiPlatform/DataPersister/CommandBusPersister.php

