includes:
	- phpstan-baseline.neon

parameters:
	level: max
	paths:
		- config/
		- src/
		- tests/
	symfony:
		container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
	tmpDir: .build/phpstan/
