includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    symfony:
        container_xml_path: var/cache/dev/SymfonyDevDebugProjectContainer.xml
    excludes_analyse:
    	- src/Core/Infrastructure/Migrations
    fileExtensions:
        # Standard php files and .dist config files
        - php
        - dist
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
    	- '#Call to an undefined method [a-zA-Z0-9\\_]+::readModel\(\)#'
